In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('movie_metadata.csv')

In [3]:
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [4]:
df = df[['director_name', 'duration', 'actor_1_name','actor_2_name', 'actor_3_name', 'genres', 'language', 'country', 'content_rating', 'title_year', 'imdb_score', 'movie_title']]
df

,director_name,duration,actor_1_name,actor_2_name,actor_3_name,genres,language,country,content_rating,title_year,imdb_score,movie_title
0,James Cameron,178.0,CCH Pounder,Joel David Moore,Wes Studi,Action|Adventure|Fantasy|Sci-Fi,English,USA,PG-13,2009.0,7.9,Avatar
1,Gore Verbinski,169.0,Johnny Depp,Orlando Bloom,Jack Davenport,Action|Adventure|Fantasy,English,USA,PG-13,2007.0,7.1,Pirates of the Caribbean: At World's End
2,Sam Mendes,148.0,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action|Adventure|Thriller,English,UK,PG-13,2015.0,6.8,Spectre
3,Christopher Nolan,164.0,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action|Thriller,English,USA,PG-13,2012.0,8.5,The Dark Knight Rises
4,Doug Walker,NaN,Doug Walker,Rob Walker,NaN,Documentary,NaN,NaN,NaN,NaN,7.1,Star Wars: Episode VII - The Force Awakens ...
...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Scott Smith,87.0,Eric Mabius,Daphne Zuniga,Crystal Lowe,Comedy|Drama,English,Canada,NaN,2013.0,7.7,Signed Sealed Delivered
5039,NaN,43.0,Natalie Zea,Valorie Curry,Sam Underwood,Crime|Drama|Mystery|Thriller,English,USA,TV-14,NaN,7.5,The Following
5040,Benjamin Roberds,76.0,Eva Boehnke,Maxwell Moody,David Chandler,Drama|Horror|Thriller,English,USA,NaN,2013.0,6.3,A Plague So Pleasant
5041,Daniel Hsia,100.0,Alan Ruck,Daniel Henney,Eliza Coupe,Comedy|Drama|Romance,English,USA,PG-13,2012.0,6.3,Shanghai Calling
5042,Jon Gunn,90.0,John August,Brian Herzlinger,Jon Gunn,Documentary,English,USA,PG,2004.0,6.6,My Date with Drew

In [5]:
idx_no_null=df.iloc[:,[0,1,2,5,6,7,8,9,10,11]].dropna().index

In [6]:
df_no_null = df.iloc[idx_no_null, :]
df_no_null

,director_name,duration,actor_1_name,actor_2_name,actor_3_name,genres,language,country,content_rating,title_year,imdb_score,movie_title
0,James Cameron,178.0,CCH Pounder,Joel David Moore,Wes Studi,Action|Adventure|Fantasy|Sci-Fi,English,USA,PG-13,2009.0,7.9,Avatar
1,Gore Verbinski,169.0,Johnny Depp,Orlando Bloom,Jack Davenport,Action|Adventure|Fantasy,English,USA,PG-13,2007.0,7.1,Pirates of the Caribbean: At World's End
2,Sam Mendes,148.0,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action|Adventure|Thriller,English,UK,PG-13,2015.0,6.8,Spectre
3,Christopher Nolan,164.0,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action|Thriller,English,USA,PG-13,2012.0,8.5,The Dark Knight Rises
5,Andrew Stanton,132.0,Daryl Sabara,Samantha Morton,Polly Walker,Action|Adventure|Sci-Fi,English,USA,PG-13,2012.0,6.6,John Carter
...,...,...,...,...,...,...,...,...,...,...,...,...
5035,Robert Rodriguez,81.0,Carlos Gallardo,Peter Marquardt,Consuelo Gómez,Action|Crime|Drama|Romance|Thriller,Spanish,USA,R,1992.0,6.9,El Mariachi
5036,Anthony Vallone,84.0,Richard Jewell,John Considine,Sara Stepnicka,Crime|Drama,English,USA,PG-13,2005.0,7.8,The Mongol King
5037,Edward Burns,95.0,Kerry Bishé,Caitlin FitzGerald,Daniella Pineda,Comedy|Drama,English,USA,Not Rated,2011.0,6.4,Newlyweds
5041,Daniel Hsia,100.0,Alan Ruck,Daniel Henney,Eliza Coupe,Comedy|Drama|Romance,English,USA,PG-13,2012.0,6.3,Shanghai Calling
5042,Jon Gunn,90.0,John August,Brian Herzlinger,Jon Gunn,Documentary,English,USA,PG,2004.0,6.6,My Date with Drew

In [7]:
df = df_no_null.reset_index(drop=True)

In [8]:
df

,director_name,duration,actor_1_name,actor_2_name,actor_3_name,genres,language,country,content_rating,title_year,imdb_score,movie_title
0,James Cameron,178.0,CCH Pounder,Joel David Moore,Wes Studi,Action|Adventure|Fantasy|Sci-Fi,English,USA,PG-13,2009.0,7.9,Avatar
1,Gore Verbinski,169.0,Johnny Depp,Orlando Bloom,Jack Davenport,Action|Adventure|Fantasy,English,USA,PG-13,2007.0,7.1,Pirates of the Caribbean: At World's End
2,Sam Mendes,148.0,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action|Adventure|Thriller,English,UK,PG-13,2015.0,6.8,Spectre
3,Christopher Nolan,164.0,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action|Thriller,English,USA,PG-13,2012.0,8.5,The Dark Knight Rises
4,Andrew Stanton,132.0,Daryl Sabara,Samantha Morton,Polly Walker,Action|Adventure|Sci-Fi,English,USA,PG-13,2012.0,6.6,John Carter
...,...,...,...,...,...,...,...,...,...,...,...,...
4660,Robert Rodriguez,81.0,Carlos Gallardo,Peter Marquardt,Consuelo Gómez,Action|Crime|Drama|Romance|Thriller,Spanish,USA,R,1992.0,6.9,El Mariachi
4661,Anthony Vallone,84.0,Richard Jewell,John Considine,Sara Stepnicka,Crime|Drama,English,USA,PG-13,2005.0,7.8,The Mongol King
4662,Edward Burns,95.0,Kerry Bishé,Caitlin FitzGerald,Daniella Pineda,Comedy|Drama,English,USA,Not Rated,2011.0,6.4,Newlyweds
4663,Daniel Hsia,100.0,Alan Ruck,Daniel Henney,Eliza Coupe,Comedy|Drama|Romance,English,USA,PG-13,2012.0,6.3,Shanghai Calling
4664,Jon Gunn,90.0,John August,Brian Herzlinger,Jon Gunn,Documentary,English,USA,PG,2004.0,6.6,My Date with Drew

### Get actors list for one-hot encoding columns

In [9]:
unique_actors_1 = df['actor_1_name'].unique()
unique_actors_2 = df['actor_2_name'].dropna().unique()
unique_actors_3 = df['actor_3_name'].dropna().unique()

In [10]:
unique_actors = np.unique(np.hstack((unique_actors_1, unique_actors_2, unique_actors_3)))

In [11]:
unique_actors=np.append(unique_actors,'not given')

In [12]:
unique_actors

array(['50 Cent', 'A. Michael Baldwin', 'A.J. Buckley', ...,
       'Émilie Dequenne', 'Óscar Jaenada', 'not given'], dtype=object)

### Get list of Genres for one-hot encoding columns

In [13]:
genre_list = set()

In [14]:
genre_df = df['genres'].str.split('|')

In [15]:
genre_df

0            [Action, Adventure, Fantasy, Sci-Fi]
1                    [Action, Adventure, Fantasy]
2                   [Action, Adventure, Thriller]
3                              [Action, Thriller]
4                     [Action, Adventure, Sci-Fi]
                          ...
4660    [Action, Crime, Drama, Romance, Thriller]
4661                               [Crime, Drama]
4662                              [Comedy, Drama]
4663                     [Comedy, Drama, Romance]
4664                                [Documentary]
Name: genres, Length: 4665, dtype: object

In [16]:
for i in range(genre_df.shape[0]):
    genres = genre_df.iloc[i]
    for genre in genres:
        genre_list.add(str(genre))

In [17]:
genre_list = np.array(genre_list)

### Change less frequent languages with other (filter < 10)

In [18]:
language_count_df = df['language'].value_counts()<10

In [19]:
df['language'] = df['language'].apply(lambda x : x if language_count_df[x] == False else 'Other_Languages')

In [20]:
df['language'].value_counts()

English            4426
Other_Languages      88
French               50
Spanish              36
Mandarin             22
Hindi                15
German               15
Japanese             13
Name: language, dtype: int64

### Change less frequent country with other (filter 20)

In [21]:
country_count_df = df['country'].value_counts()<20

In [22]:
df['country'] = df['country'].apply(lambda x : x if country_count_df[x] == False else 'Other_Countries')

In [23]:
df['country'].value_counts()

USA                3591
UK                  415
Other_Countries     222
France              131
Canada              109
Germany              93
Australia            51
Spain                32
China                21
Name: country, dtype: int64

## Change content rating with other (filter 10)

In [24]:
df['content_rating'].value_counts()

R            2116
PG-13        1460
PG            698
G             112
Not Rated     112
Unrated        62
Approved       55
X              13
Passed          9
NC-17           7
GP              6
M               5
TV-G            4
TV-14           3
TV-PG           3
Name: content_rating, dtype: int64

In [25]:
rating_count_df = df['content_rating'].value_counts()<10

In [26]:
rating_count_df

R            False
PG-13        False
PG           False
G            False
Not Rated    False
Unrated      False
Approved     False
X            False
Passed        True
NC-17         True
GP            True
M             True
TV-G          True
TV-14         True
TV-PG         True
Name: content_rating, dtype: bool

In [27]:
type(df['content_rating'][1])

str

In [28]:
rating_count_df = df['content_rating'].value_counts()<10

In [29]:
rating_count_df

R            False
PG-13        False
PG           False
G            False
Not Rated    False
Unrated      False
Approved     False
X            False
Passed        True
NC-17         True
GP            True
M             True
TV-G          True
TV-14         True
TV-PG         True
Name: content_rating, dtype: bool

In [30]:
df['content_rating'] = df['content_rating'].apply(lambda x : x if rating_count_df[x] == False else 'Other')

In [31]:
df['content_rating']

0           PG-13
1           PG-13
2           PG-13
3           PG-13
4           PG-13
          ...
4660            R
4661        PG-13
4662    Not Rated
4663        PG-13
4664           PG
Name: content_rating, Length: 4665, dtype: object

## Title Year to Int

In [32]:
df["title_year"]=df["title_year"].astype(int)

## removing outliers in Duration

In [33]:
q3=df.quantile(0.75)['duration']
q1=df.quantile(0.25)['duration']
IQR=q3-q1

<ipython-input-33-9369a5b0c198>:1: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  q3=df.quantile(0.75)['duration']
<ipython-input-33-9369a5b0c198>:2: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  q1=df.quantile(0.25)['duration']

In [34]:
index_drop = df[(df['duration']>q3+1.5*IQR) & (df['duration']<q1-1.5*IQR) ].index
index_drop

Int64Index([], dtype='int64')

In [35]:
index_drop = df[(df['duration']>q3+1.5*IQR) | (df['duration']<q1-1.5*IQR) ].index
len(list(index_drop))

159

In [36]:
df.drop(index_drop, inplace=True)
df

,director_name,duration,actor_1_name,actor_2_name,actor_3_name,genres,language,country,content_rating,title_year,imdb_score,movie_title
2,Sam Mendes,148.0,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action|Adventure|Thriller,English,UK,PG-13,2015,6.8,Spectre
4,Andrew Stanton,132.0,Daryl Sabara,Samantha Morton,Polly Walker,Action|Adventure|Sci-Fi,English,USA,PG-13,2012,6.6,John Carter
6,Nathan Greno,100.0,Brad Garrett,Donna Murphy,M.C. Gainey,Adventure|Animation|Comedy|Family|Fantasy|Musi...,English,USA,PG,2010,7.8,Tangled
7,Joss Whedon,141.0,Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson,Action|Adventure|Sci-Fi,English,USA,PG-13,2015,7.5,Avengers: Age of Ultron
8,David Yates,153.0,Alan Rickman,Daniel Radcliffe,Rupert Grint,Adventure|Family|Fantasy|Mystery,English,UK,PG,2009,7.5,Harry Potter and the Half-Blood Prince
...,...,...,...,...,...,...,...,...,...,...,...,...
4660,Robert Rodriguez,81.0,Carlos Gallardo,Peter Marquardt,Consuelo Gómez,Action|Crime|Drama|Romance|Thriller,Spanish,USA,R,1992,6.9,El Mariachi
4661,Anthony Vallone,84.0,Richard Jewell,John Considine,Sara Stepnicka,Crime|Drama,English,USA,PG-13,2005,7.8,The Mongol King
4662,Edward Burns,95.0,Kerry Bishé,Caitlin FitzGerald,Daniella Pineda,Comedy|Drama,English,USA,Not Rated,2011,6.4,Newlyweds
4663,Daniel Hsia,100.0,Alan Ruck,Daniel Henney,Eliza Coupe,Comedy|Drama|Romance,English,USA,PG-13,2012,6.3,Shanghai Calling
4664,Jon Gunn,90.0,John August,Brian Herzlinger,Jon Gunn,Documentary,English,USA,PG,2004,6.6,My Date with Drew

## One Hot encoding on genre

In [37]:
df.reset_index(inplace=True,drop=True)

In [38]:
df

,director_name,duration,actor_1_name,actor_2_name,actor_3_name,genres,language,country,content_rating,title_year,imdb_score,movie_title
0,Sam Mendes,148.0,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action|Adventure|Thriller,English,UK,PG-13,2015,6.8,Spectre
1,Andrew Stanton,132.0,Daryl Sabara,Samantha Morton,Polly Walker,Action|Adventure|Sci-Fi,English,USA,PG-13,2012,6.6,John Carter
2,Nathan Greno,100.0,Brad Garrett,Donna Murphy,M.C. Gainey,Adventure|Animation|Comedy|Family|Fantasy|Musi...,English,USA,PG,2010,7.8,Tangled
3,Joss Whedon,141.0,Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson,Action|Adventure|Sci-Fi,English,USA,PG-13,2015,7.5,Avengers: Age of Ultron
4,David Yates,153.0,Alan Rickman,Daniel Radcliffe,Rupert Grint,Adventure|Family|Fantasy|Mystery,English,UK,PG,2009,7.5,Harry Potter and the Half-Blood Prince
...,...,...,...,...,...,...,...,...,...,...,...,...
4501,Robert Rodriguez,81.0,Carlos Gallardo,Peter Marquardt,Consuelo Gómez,Action|Crime|Drama|Romance|Thriller,Spanish,USA,R,1992,6.9,El Mariachi
4502,Anthony Vallone,84.0,Richard Jewell,John Considine,Sara Stepnicka,Crime|Drama,English,USA,PG-13,2005,7.8,The Mongol King
4503,Edward Burns,95.0,Kerry Bishé,Caitlin FitzGerald,Daniella Pineda,Comedy|Drama,English,USA,Not Rated,2011,6.4,Newlyweds
4504,Daniel Hsia,100.0,Alan Ruck,Daniel Henney,Eliza Coupe,Comedy|Drama|Romance,English,USA,PG-13,2012,6.3,Shanghai Calling
4505,Jon Gunn,90.0,John August,Brian Herzlinger,Jon Gunn,Documentary,English,USA,PG,2004,6.6,My Date with Drew

In [39]:
df['genres'] = df['genres'].apply(lambda x: x.split('|'))

In [40]:
df_long = df.explode('genres')

In [41]:
df_long

,director_name,duration,actor_1_name,actor_2_name,actor_3_name,genres,language,country,content_rating,title_year,imdb_score,movie_title
0,Sam Mendes,148.0,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action,English,UK,PG-13,2015,6.8,Spectre
0,Sam Mendes,148.0,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Adventure,English,UK,PG-13,2015,6.8,Spectre
0,Sam Mendes,148.0,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Thriller,English,UK,PG-13,2015,6.8,Spectre
1,Andrew Stanton,132.0,Daryl Sabara,Samantha Morton,Polly Walker,Action,English,USA,PG-13,2012,6.6,John Carter
1,Andrew Stanton,132.0,Daryl Sabara,Samantha Morton,Polly Walker,Adventure,English,USA,PG-13,2012,6.6,John Carter
...,...,...,...,...,...,...,...,...,...,...,...,...
4503,Edward Burns,95.0,Kerry Bishé,Caitlin FitzGerald,Daniella Pineda,Drama,English,USA,Not Rated,2011,6.4,Newlyweds
4504,Daniel Hsia,100.0,Alan Ruck,Daniel Henney,Eliza Coupe,Comedy,English,USA,PG-13,2012,6.3,Shanghai Calling
4504,Daniel Hsia,100.0,Alan Ruck,Daniel Henney,Eliza Coupe,Drama,English,USA,PG-13,2012,6.3,Shanghai Calling
4504,Daniel Hsia,100.0,Alan Ruck,Daniel Henney,Eliza Coupe,Romance,English,USA,PG-13,2012,6.3,Shanghai Calling
4505,Jon Gunn,90.0,John August,Brian Herzlinger,Jon Gunn,Documentary,English,USA,PG,2004,6.6,My Date with Drew

In [42]:
df_one_hot_encoded = pd.concat([df, pd.get_dummies(df_long['genres'])], axis=1)

In [43]:
df_one_hot_encoded=df_one_hot_encoded.groupby(df_one_hot_encoded.index).max().reset_index(drop=True)

In [44]:
df_one_hot_encoded_new= pd.concat([df_one_hot_encoded, pd.get_dummies(df_one_hot_encoded['language'])], axis=1)

In [45]:
df_one_hot_encoded_new= pd.concat([df_one_hot_encoded_new, pd.get_dummies(df_one_hot_encoded_new['country'])], axis=1)

In [46]:
df_one_hot_encoded_new= pd.concat([df_one_hot_encoded_new, pd.get_dummies(df_one_hot_encoded_new['content_rating'])], axis=1)

In [47]:
df_one_hot_encoded_new

,director_name,duration,actor_1_name,actor_2_name,actor_3_name,genres,language,country,content_rating,title_year,...,USA,Approved,G,Not Rated,Other,PG,PG-13,R,Unrated,X
0,Sam Mendes,148.0,Christoph Waltz,Rory Kinnear,Stephanie Sigman,"[Action, Adventure, Thriller]",English,UK,PG-13,2015,...,0,0,0,0,0,0,1,0,0,0
1,Andrew Stanton,132.0,Daryl Sabara,Samantha Morton,Polly Walker,"[Action, Adventure, Sci-Fi]",English,USA,PG-13,2012,...,1,0,0,0,0,0,1,0,0,0
2,Nathan Greno,100.0,Brad Garrett,Donna Murphy,M.C. Gainey,"[Adventure, Animation, Comedy, Family, Fantasy...",English,USA,PG,2010,...,1,0,0,0,0,1,0,0,0,0
3,Joss Whedon,141.0,Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson,"[Action, Adventure, Sci-Fi]",English,USA,PG-13,2015,...,1,0,0,0,0,0,1,0,0,0
4,David Yates,153.0,Alan Rickman,Daniel Radcliffe,Rupert Grint,"[Adventure, Family, Fantasy, Mystery]",English,UK,PG,2009,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4501,Robert Rodriguez,81.0,Carlos Gallardo,Peter Marquardt,Consuelo Gómez,"[Action, Crime, Drama, Romance, Thriller]",Spanish,USA,R,1992,...,1,0,0,0,0,0,0,1,0,0
4502,Anthony Vallone,84.0,Richard Jewell,John Considine,Sara Stepnicka,"[Crime, Drama]",English,USA,PG-13,2005,...,1,0,0,0,0,0,1,0,0,0
4503,Edward Burns,95.0,Kerry Bishé,Caitlin FitzGerald,Daniella Pineda,"[Comedy, Drama]",English,USA,Not Rated,2011,...,1,0,0,1,0,0,0,0,0,0
4504,Daniel Hsia,100.0,Alan Ruck,Daniel Henney,Eliza Coupe,"[Comedy, Drama, Romance]",English,USA,PG-13,2012,...,1,0,0,0,0,0,1,0,0,0
4505,Jon Gunn,90.0,John August,Brian Herzlinger,Jon Gunn,[Documentary],English,USA,PG,2004,...,1,0,0,0,0,1,0,0,0,0

In [48]:
np.nan==np.nan

False

In [49]:
df_one_hot_encoded_new[df_one_hot_encoded_new['actor_3_name'].isna()]

,director_name,duration,actor_1_name,actor_2_name,actor_3_name,genres,language,country,content_rating,title_year,...,USA,Approved,G,Not Rated,Other,PG,PG-13,R,Unrated,X
1639,Jacques Perrin,81.0,Jacques Perrin,Philippe Labro,NaN,[Documentary],English,France,G,2001,...,0,0,1,0,0,0,0,0,0,0
3099,J.C. Chandor,106.0,Robert Redford,NaN,NaN,"[Action, Adventure, Drama]",English,USA,PG-13,2013,...,1,0,0,0,0,0,1,0,0,0
3255,Gus Van Sant,103.0,Matt Damon,Casey Affleck,NaN,"[Adventure, Drama, Mystery]",English,USA,R,2002,...,1,0,0,0,0,0,0,1,0,0
3872,James Algar,120.0,Leopold Stokowski,Deems Taylor,NaN,"[Animation, Family, Fantasy, Music]",English,USA,G,1940,...,1,0,1,0,0,0,0,0,0,0
4141,Davis Guggenheim,96.0,Billy West,Al Gore,NaN,[Documentary],English,USA,PG,2006,...,1,0,0,0,0,1,0,0,0,0
4365,Florence Ayisi,104.0,Vera Ngassa,Beatrice Ntuba,NaN,[Documentary],English,Other_Countries,Not Rated,2005,...,0,0,0,1,0,0,0,0,0,0
4488,James Bidgood,65.0,Don Brooks,Bobby Kendall,NaN,"[Drama, Fantasy]",English,USA,Not Rated,1971,...,1,0,0,1,0,0,0,0,0,0

In [50]:
df_one_hot_encoded_new.fillna('not given', inplace=True)

In [51]:
df_one_hot_encoded_new[df_one_hot_encoded_new['actor_3_name']=='not given']

,director_name,duration,actor_1_name,actor_2_name,actor_3_name,genres,language,country,content_rating,title_year,...,USA,Approved,G,Not Rated,Other,PG,PG-13,R,Unrated,X
1639,Jacques Perrin,81.0,Jacques Perrin,Philippe Labro,not given,[Documentary],English,France,G,2001,...,0,0,1,0,0,0,0,0,0,0
3099,J.C. Chandor,106.0,Robert Redford,not given,not given,"[Action, Adventure, Drama]",English,USA,PG-13,2013,...,1,0,0,0,0,0,1,0,0,0
3255,Gus Van Sant,103.0,Matt Damon,Casey Affleck,not given,"[Adventure, Drama, Mystery]",English,USA,R,2002,...,1,0,0,0,0,0,0,1,0,0
3872,James Algar,120.0,Leopold Stokowski,Deems Taylor,not given,"[Animation, Family, Fantasy, Music]",English,USA,G,1940,...,1,0,1,0,0,0,0,0,0,0
4141,Davis Guggenheim,96.0,Billy West,Al Gore,not given,[Documentary],English,USA,PG,2006,...,1,0,0,0,0,1,0,0,0,0
4365,Florence Ayisi,104.0,Vera Ngassa,Beatrice Ntuba,not given,[Documentary],English,Other_Countries,Not Rated,2005,...,0,0,0,1,0,0,0,0,0,0
4488,James Bidgood,65.0,Don Brooks,Bobby Kendall,not given,"[Drama, Fantasy]",English,USA,Not Rated,1971,...,1,0,0,1,0,0,0,0,0,0

In [52]:
unique_actors.shape

(5607,)

In [53]:
binary_rep={j:','.join(f'{i:013b}') for i,j in enumerate(unique_actors)}

In [54]:
binary_rep['not given']

'1,0,1,0,1,1,1,1,0,0,1,1,0'

In [55]:
df_one_hot_encoded_new['actor_1_bin']=df_one_hot_encoded_new['actor_1_name'].apply(lambda x: binary_rep[x])

In [56]:
df_one_hot_encoded_new['actor_2_bin']=df_one_hot_encoded_new['actor_2_name'].apply(lambda x: binary_rep[x])

In [57]:
df_one_hot_encoded_new['actor_3_bin']=df_one_hot_encoded_new['actor_3_name'].apply(lambda x: binary_rep[x])

In [58]:
df_one_hot_encoded_new[['actor_1_bin','actor_2_bin','actor_3_bin']]

,actor_1_bin,actor_2_bin,actor_3_bin
0,"0,0,0,1,1,1,0,1,1,1,1,1,0","1,0,0,1,0,0,0,0,0,0,0,1,0","1,0,0,1,1,0,1,1,0,1,1,0,1"
1,"0,0,1,0,0,1,0,1,1,1,0,1,0","1,0,0,1,0,0,1,1,0,1,0,1,0","1,0,0,0,0,1,1,0,0,0,0,0,0"
2,"0,0,0,1,0,0,1,0,1,1,0,1,0","0,0,1,0,1,1,0,0,0,1,1,0,1","0,1,1,0,1,0,0,1,0,1,1,0,0"
3,"0,0,0,1,1,1,0,0,1,0,0,0,1","1,0,0,0,1,1,0,1,0,1,0,0,0","1,0,0,1,0,1,0,1,0,0,0,1,0"
4,"0,0,0,0,0,0,1,1,0,0,1,1,0","0,0,1,0,0,1,0,0,0,1,0,0,0","1,0,0,1,0,0,0,1,0,0,1,1,0"
...,...,...,...
4501,"0,0,0,1,0,1,1,1,1,0,1,1,0","1,0,0,0,0,1,0,0,0,0,1,1,1","0,0,1,0,0,0,0,1,0,0,1,1,0"
4502,"1,0,0,0,1,0,1,1,0,0,1,0,0","0,1,0,1,0,0,0,1,1,0,0,1,0","1,0,0,1,0,1,0,0,0,0,0,1,1"
4503,"0,1,0,1,1,1,0,1,0,0,0,1,1","0,0,0,1,0,1,1,0,1,0,1,1,1","0,0,1,0,0,1,0,0,1,0,1,0,1"
4504,"0,0,0,0,0,0,1,1,0,0,1,1,1","0,0,1,0,0,1,0,0,0,0,0,1,0","0,0,1,0,1,1,1,1,1,1,1,1,1"
4505,"0,1,0,1,0,0,0,1,0,0,0,1,1","0,0,0,1,0,1,0,0,0,1,0,0,0","0,1,0,1,0,0,1,1,1,0,1,1,0"

In [59]:
actor1=[f'actor1_col{i}' for i in range(1,14)]
actor2=[f'actor2_col{i}' for i in range(1,14)]
actor3=[f'actor3_col{i}' for i in range(1,14)]

In [60]:
df_one_hot_encoded_new[actor1]=df_one_hot_encoded_new['actor_1_bin'].str.split(",", expand = True)

In [61]:
df_one_hot_encoded_new[actor2]=df_one_hot_encoded_new['actor_2_bin'].str.split(",", expand = True)

In [62]:
df_one_hot_encoded_new[actor3]=df_one_hot_encoded_new['actor_3_bin'].str.split(",", expand = True)

In [63]:
df_one_hot_encoded_new

,director_name,duration,actor_1_name,actor_2_name,actor_3_name,genres,language,country,content_rating,title_year,...,actor3_col4,actor3_col5,actor3_col6,actor3_col7,actor3_col8,actor3_col9,actor3_col10,actor3_col11,actor3_col12,actor3_col13
0,Sam Mendes,148.0,Christoph Waltz,Rory Kinnear,Stephanie Sigman,"[Action, Adventure, Thriller]",English,UK,PG-13,2015,...,1,1,0,1,1,0,1,1,0,1
1,Andrew Stanton,132.0,Daryl Sabara,Samantha Morton,Polly Walker,"[Action, Adventure, Sci-Fi]",English,USA,PG-13,2012,...,0,0,1,1,0,0,0,0,0,0
2,Nathan Greno,100.0,Brad Garrett,Donna Murphy,M.C. Gainey,"[Adventure, Animation, Comedy, Family, Fantasy...",English,USA,PG,2010,...,0,1,0,0,1,0,1,1,0,0
3,Joss Whedon,141.0,Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson,"[Action, Adventure, Sci-Fi]",English,USA,PG-13,2015,...,1,0,1,0,1,0,0,0,1,0
4,David Yates,153.0,Alan Rickman,Daniel Radcliffe,Rupert Grint,"[Adventure, Family, Fantasy, Mystery]",English,UK,PG,2009,...,1,0,0,0,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4501,Robert Rodriguez,81.0,Carlos Gallardo,Peter Marquardt,Consuelo Gómez,"[Action, Crime, Drama, Romance, Thriller]",Spanish,USA,R,1992,...,0,0,0,0,1,0,0,1,1,0
4502,Anthony Vallone,84.0,Richard Jewell,John Considine,Sara Stepnicka,"[Crime, Drama]",English,USA,PG-13,2005,...,1,0,1,0,0,0,0,0,1,1
4503,Edward Burns,95.0,Kerry Bishé,Caitlin FitzGerald,Daniella Pineda,"[Comedy, Drama]",English,USA,Not Rated,2011,...,0,0,1,0,0,1,0,1,0,1
4504,Daniel Hsia,100.0,Alan Ruck,Daniel Henney,Eliza Coupe,"[Comedy, Drama, Romance]",English,USA,PG-13,2012,...,0,1,1,1,1,1,1,1,1,1
4505,Jon Gunn,90.0,John August,Brian Herzlinger,Jon Gunn,[Documentary],English,USA,PG,2004,...,1,0,0,1,1,1,0,1,1,0

In [64]:
df_one_hot_encoded_final=df_one_hot_encoded_new.drop(['director_name','actor_1_name','actor_2_name', 'actor_3_name', 'genres', 'language', 'country', 'content_rating'], axis=1)

In [65]:
df_one_hot_encoded_final

,duration,title_year,imdb_score,movie_title,Action,Adventure,Animation,Biography,Comedy,Crime,...,actor3_col4,actor3_col5,actor3_col6,actor3_col7,actor3_col8,actor3_col9,actor3_col10,actor3_col11,actor3_col12,actor3_col13
0,148.0,2015,6.8,Spectre,1,1,0,0,0,0,...,1,1,0,1,1,0,1,1,0,1
1,132.0,2012,6.6,John Carter,1,1,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
2,100.0,2010,7.8,Tangled,0,1,1,0,1,0,...,0,1,0,0,1,0,1,1,0,0
3,141.0,2015,7.5,Avengers: Age of Ultron,1,1,0,0,0,0,...,1,0,1,0,1,0,0,0,1,0
4,153.0,2009,7.5,Harry Potter and the Half-Blood Prince,0,1,0,0,0,0,...,1,0,0,0,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4501,81.0,1992,6.9,El Mariachi,1,0,0,0,0,1,...,0,0,0,0,1,0,0,1,1,0
4502,84.0,2005,7.8,The Mongol King,0,0,0,0,0,1,...,1,0,1,0,0,0,0,0,1,1
4503,95.0,2011,6.4,Newlyweds,0,0,0,0,1,0,...,0,0,1,0,0,1,0,1,0,1
4504,100.0,2012,6.3,Shanghai Calling,0,0,0,0,1,0,...,0,1,1,1,1,1,1,1,1,1
4505,90.0,2004,6.6,My Date with Drew,0,0,0,0,0,0,...,1,0,0,1,1,1,0,1,1,0